任职要求:
1.对AGl的未来充满热情，具备强烈的技术好奇心，致力于前沿技术的探索与创新。
2.计算机科学或相关专业基础扎实，精通Python/C++/Java等至少一门主流编程语言，熟悉Linux开发环境及常用工具链。
3.具备AI Agent及LLM工程化能力，精通PromptEngineering、Skills、 MCP、RAG、 Function
Calling/Tool Binding，具备复杂Agent(如任务规划、工具调用、记忆与学习机制)的设计、开发与调优经验。
4.熟悉至少一种主流Agent开发框架，并有实际项目应用经验。
5.学习能力强，能快速跟进并应用Agent领域的研究成果和开源技术，具备优秀的问题分析与解决能力。6.实习期三个月以上，每周5天。
加分项:
1.具备复杂Agent系统(如Multi-Agent协作框架、Autonomous Agent)的设计、开发、调试和评估经验。
2.有LLM微调(Fine-tuning)、量化、部署和推理优化经验，熟悉相关工具和框架。
3.有高质量相关领域开源项目贡献或顶会论文发表者优先。
4.具备全栈开发能力，能够独立完成Agent应用原型的快速构建与验证。
5能实习5个目以上

1、本科及以上学历在读，计算机、软件工程等相关专业优先;
2、熟悉Python/Go或其他后端语言，具备在Linux开发环境下的开发能力。
2、了解LLM原理，需要有使用LLM进行项目开发和效果调优的经验，有较强的问题分析和算法、数据优化能力;
3、了解AI Agent技术栈(如 ToolUse、Skills、ReAct、Multi-Agent)，具备扎实的代码能力，有想法且能动手;
4、AI、Agent相关经历加分，开源模型、AI应用Agent项目贡献者加分。善于学习加分。
5、全职实习时长6个月以上。实习期间表现优秀者，将有机会获得留用。